body{
    display:grid;
    grid-template-rows: 8% 90%;
    grid-template-columns: 20% 80%;
    height:100vh;
    width:100vw;
    padding:0rem;
    margin:0rem;
}

.nav-container{
    background-color:rgb(244, 241, 241);
    border-bottom: 1px solid rgb(108, 103, 103);
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: space-between;
}

.thread-container{
    grid-row-end: span 2;
    background-color:rgb(69, 1, 69);
    height:99vh
}

.main-container{
    display:flex;
    flex-direction:column;
}

.card{
    font-size:1.5rem;
    text-align:left;
    padding-left:.8rem;
    color:rgb(167, 141, 165);
    width:20vw;
    background-color:rgb(69, 1, 69);
    margin-top: 0.2rem;
    margin-bottom:0.2rem;
    height:5vh;
    cursor: pointer;
}

.fakecard{
    font-size:1.5rem;
    text-align:left;
    padding-left:.8rem;
    color:rgb(167, 141, 165);
    width:20vw;
    background-color:rgb(69, 1, 69);
    margin-top: 0.2rem;
    margin-bottom:0.2rem;
    height:5vh;
}

#toggled{
    color:rgb(240, 226, 238);
    background-color: rgb(47, 127, 192);
}

#main-text{
    background-color:whitesmoke;
    width:80vw;
    height:82vh;
    overflow: scroll;
}

#input{
    background-color:green;
    width:80vw;
    height:8vh;
}
#input form{
display:flex;
flex-direction:row;
}

.username{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
}

#userID{
    margin:0rem;   
}

ul{
    display:flex;
    flex-direction: row;

}


ul li{
    list-style-type: none;
    margin-right:0.5rem;
    margin-left:0.5rem;
}


#input form input{
    height:8vh;
    width:70vw;
    margin:0;
}

#input form button{
    height:8.5vh;
    width:10vw;
    margin:0;
}

.commentbox:hover {
    background-color:rgb(194, 190, 190);
}


#buttonDiv{
    display:none
}

.commentbox:hover #buttonDiv {
    display:inline-block;
    position:absolute;
    top:-0.5rem;
    right:0.2rem;
}

.commentbox{
    position:relative;
    display:flex;
    justify-content: flex-start;
}

.author{
    font-weight:bold;
}

.commentTime{
    display:none;
    color:grey;
}



.commentText{
    grid-row-end: span 2;
}

img{
    padding-right:.5rem;
    width:3rem;
    align-self:center
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    overflow: inherit;
    cursor: pointer;
    display: inline-block;
    /* float: left */
  }
  
  .dropdown-content a:hover {background-color: #d2c9c9}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .commentbox:hover .commentTime{
    display:inline-block;
}



  /* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */

  button:hover {
      background-color:grey;
  }

  button {
      cursor: pointer;
  }

  .secondaryDivAlt{
      display:flex;
      flex-direction: row;
      margin-left:  3.5rem;
      margin-top: 0;
      padding:0;
      justify-content: space-between;
      
  }

  .commentText{
    margin:0.5rem;
  }

  .author{
    justify-self:flex-end;
    margin:0.5rem;

  }

  .fakeimg{
      display: none;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } */

  @media only screen and (max-width: 800px) {
    .thread-container{
display:none;
    }
body{
    display:flex;
    flex-direction:column;

}
.main-container{
    width:100%
}
#main-text{
    width:100%
}
#input{
    width:100%
}
.nav-container{
    display:flex;
    justify-content: space-between;
    background-color:purple;
}
  }