#myChart{
  padding: 50px;
}
#myChartv2{
  padding: 50px;
}

/* .chartjs-size-monitor{
  height:80vh;
} */

@media only screen and (max-width: 800px) {
  /* #myChart{
    height:50vh !important;
  } */
  /* #myChartv2{
    height: 40vh !important;
  } */
}