.ant-layout{
  position:fixed;
}

.downArrow {
  position: absolute;
  z-index: 15;
  top: 80%;
  left: 57%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

.downArrow::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.mainContent{
  height: 85vh;
  width:85vw;
  position: static;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
}

.infscroll{
  /* background-image:url('../scroll-bgimage.jpg'); */
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 5px;
  height: 100%;
  width: 100%;
  overflow:hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}


.stuck{
  position:sticky;  
}

#underneath{
  margin-top:-80vh;
  position:relative;
  font-size:3vw;
  z-index: 10;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.ant-layout-sider{
  z-index: 10;
}

.device-macbook-pro.device-spacegray .device-power::before{
  width:100%;
}

/* @media screen only and (max-width: ) {
  .device-macbook-pro.device-spacegray{

  }
} */
.device-macbook-pro .device-frame::after{
  width:99%;
}

.notThought{
  display:none
}

p.thought {
  position:relative; /*see the support section below for more info*/
  width:180px; /*size of the bubble*/
  padding:20px 40px;
  margin:10px 10px 80px 40px;
  /**give the bubble's background a gradient**/
  background:#dedbd8; /*fallback colour for non-supporting browsers*/
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#878787));
  background:-moz-linear-gradient(#e6e6e6, #878787);
  background:-o-linear-gradient(#e6e6e6, #878787);
  background:linear-gradient(#e6e6e6, #878787);
  /**give the corners a large curve**/
  -webkit-border-radius:180px;
  -moz-border-radius:180px;
  border-radius:180px;
  /**add a drop shadow to the bubble**/
  -webkit-box-shadow: -3px 4px 8px #989898;
  -moz-box-shadow: -3px 4px 8px #989898;
  box-shadow: -3px 4px 8px #989898;
  /**style the text**/
  color:#575544;
  font-size:1em;
  letter-spacing:.06em;
  }
  /******NOW CREATE THE THOUGHT CIRCLES*****/
  /****FIRST THE LARGE CIRCLE***/
  p.thought:before {
  content:"";
  position:absolute; /*see the support section below for more info*/
  bottom:-40px; /*distance from the bottom of the bubble*/
  left:20px; /*distance from the left edge of the bubble*/
  background:#878787;
  width:30px; /*same as the height*/
  height:30px; /*same as the width*/
  /*add a curve to the corners the same size as the height and width*/
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
  /*add a drop shadow*/
  -webkit-box-shadow: -3px 3px 4px #989898;
  -moz-box-shadow: -3px 3px 4px #989898;
  box-shadow: -3px 3px 8px #989898;
  }
  /*****NOW THE SMALL CIRCLE***/
  /**Created exactly the same way as the large circle, except with smaller width, height and border-radius**/
  p.thought:after {
  content:"";
  position:absolute;
  bottom:-55px;
  left:0;
  width:15px;
  height:15px;
  background:#878787;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  -webkit-box-shadow: -3px 3px 4px #989898;
  -moz-box-shadow: -3px 3px 4px #989898;
  box-shadow: -3px 3px 8px #989898;
  }