.projectContainer{
  display:inline-block;
  height:auto;  
}

.ant-card-cover{
  display:inline-block;
  max-height: 230px;
  width:100%;
}

.ant-card{
  margin:10px;

}
.ant-card-bordered{
  margin:0px;

}

@media only screen and (max-width: 800px) {
  .projectContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
  }
}