@import "~antd/dist/antd.css";

body {
  font-family: "Roboto", sans-serif;
}

.projectContainer {
  background-color: rgb(244, 244, 244);
  height: 100%;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

#none {
  display: none;
}

#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.element::-webkit-scrollbar {
  width: 0 !important;
}

.ant-layout-header {
  /* position:sticky;
  top:0;*/
  z-index: 11;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
}

/* .ant-layout-has-sider{

  margin-top: 64px;

}

.ant-layout-sider{
  margin-top:50px;
  position:fixed;
  z-index: 10;
} */

.ant-layout {
  width: 100vw;
}

.ant-layout-content {
  /* margin-top:50px; */
  width: 100vw;
  height: 100%;
  z-index: 13;
}

.ant-layout {
  height: 95vh;
  width: 100vw;
  text-overflow: wrap;
  overflow: hidden;
  /* padding:0px 5px 0px 5px; */
}

@media only screen and (max-width: 800px) {
  /* .mainContent{
    margin-left:0 !important;
  }
  .ant-layout{
    margin-left:0 ;
  } */
  #myChart {
    height: 40vh !important;
    width: 105vw !important;
  }

  aside.ant-layout-sider.ant-layout-sider-dark {
    display: none;
  }
  .ant-layout-content {
    margin-left: 0;
    /* padding-top:5px; */
    margin-bottom: 8vh;
  }
  /* .ant-layout-header{
    display:none
  } */
  #resize {
    display: none !important;
  }
}

.ml5 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* style for cards flipping */

.ant-card {
  overflow: hidden;
  border-style: solid;
}

.innercard {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* display:none */
}

#card:hover .innercard {
  transform: rotateY(180deg);
  transition: transform 1.2s;
}
/* #card:hover .flip-card-back{
  transform: rotateY();
  transition: transform 4s;
} */

.flip-card-back {
  cursor: pointer;
  background-color: #343537;
  color: rgb(191, 186, 186);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  text-align: justify;
  padding: 20px;

  /* z-index:12 comment out after done */
}

.flip-card-back #techUsed {
  color: rgb(249, 243, 243);
  font-weight: bold;
  padding: none;
}

.flip-card-back h1 {
  color: rgb(249, 243, 243);
  font-weight: bold;
  padding-top: 5px;
  font-size: 2rem;
}

.flip-card-back p {
  padding-top: 10px;
  font-size: 0.9rem;
  padding: 3px;
}

.ant-card,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
