@import '~antd/dist/antd.css';


#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.element::-webkit-scrollbar { width: 0 !important }

.ant-layout-header{
  /* position:sticky;
  top:0;*/
  z-index: 11; 
  position: fixed;
  top:0px;
  left:0px;
  width:100vw;
}

.ant-layout-has-sider{

  margin-top: 64px;

}

.ant-layout-sider{
  /* margin-top:50px; */
  position:fixed;
  z-index: 10;
}

.ant-layout-content{
  /* margin-top:50px; */
  margin-left:180px;
  height:95vh;
}

.ant-breadcrumb{
  position:fixed;
  z-index: 12;
}

.ant-layout{
  width:100vw;
  Text-overflow:wrap;
  overflow:hidden
}

@media only screen and (max-width: 600px) {
  .mainContent{
    margin-left:0 !important;
  }
  .ant-layout{
    margin-left:0 ;
  }


  aside.ant-layout-sider.ant-layout-sider-dark{
    display:none;
  }
  .ant-layout-content{
    margin-left:0;
    padding-top:5px
  }
  /* .ant-layout-header{
    display:none
  } */
}